<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <title>Test-Canvas</title>
    <script defer src='../js/webgl_test.js'></script>
    <link rel="stylesheet" href="../style/style.css" type="text/css"/>
</head>

<html>
<body>
    <head class="title">
	<span class="topic">WebGL Display:  canvas.getContext('2d')</span>
	<span class="back"><a href="../index.html">back</a></span>
    </head>
</body>
</html>
